@charset "UTF8";

body {
    background-color: #add8e6;
    
}

#sub-menu {
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: scale(0.5);
}
#sub-menu:hover {
    transform: scale(1);
    left: 1%;
    bottom: 1%;
}

pre{
    background-color: white; 
}
